<%= render "layouts/header", :locals => {:title => 'Coding for Medicine'} %>
<div class="wrapper">
<%= render "layouts/head", :locals => {:title => 'Coding 4 Medicine'} %>

      <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a href="/Members/Materials/daily/201701/day1.html" target="_blank">
            <i class="fa fa-calendar"></i> <span>Daily updates</span>
            <small class="label pull-right bg-red">2017/01/01</small>
          </a>
        </li>


        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>If you are new here</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
	
		<li><a href="/pages/objective.html" target="_blank"><i class="fa fa-circle-o"></i> What we plan to accomplish </a></li>
		<li><a href="/pages/guide.html" target="_blank"><i class="fa fa-circle-o"></i> Study guide for beginners </a></li>
		<li><a href="/pages/instructions.html" target="_blank"><i class="fa fa-circle-o"></i> Login instructions </a></li>
		<li><a href="/pages/data.html" target="_blank"><i class="fa fa-circle-o"></i> Examples and data </a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>R</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
	
		<li><a href="/Members/Materials/R/index.html" target="_blank"><i class="fa fa-circle-o"></i> R for biology </a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Unix and scripting</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
	
		<li><a href="/Members/Materials/linux/index.html" target="_blank"><i class="fa fa-circle-o"></i> Unix/linux tutorial </a></li>
		<li><a href="/Members/Materials/hspython1/index.html" target="_blank"><i class="fa fa-circle-o"></i> Python - get started </a></li>
		<li><a href="/Members/Materials/hspython2/index.html" target="_blank"><i class="fa fa-circle-o"></i> Solve easy problems </a></li>
		<li><a href="/Members/Materials/hspython3/index.html" target="_blank"><i class="fa fa-circle-o"></i> Python - more concepts </a></li>
		<li><a href="/Members/Materials/hspython4/index.html" target="_blank"><i class="fa fa-circle-o"></i> Solve bioinformatics problems </a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Assembly</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
	
		<li><a href="/Members/Materials/hspython5/index.html" target="_blank"><i class="fa fa-circle-o"></i> Assembly jigsaw puzzle </a></li>
		<li><a href="/Members/Materials/assembly/index.html" target="_blank"><i class="fa fa-circle-o"></i> Short read assembly </a></li>
		<li><a href="/Members/Materials/kmer/index.html" target="_blank"><i class="fa fa-circle-o"></i> Kmer Magic </a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Long reads</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
	
		<li><a href="/Members/Materials/pacbio/index.html" target="_blank"><i class="fa fa-circle-o"></i> Tutorial and programs </a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>RNAseq</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
	
		<li><a href="/Members/Materials/rnaseq/index.html" target="_blank"><i class="fa fa-circle-o"></i> Tutorial and Programs </a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Bioinformatics programs</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
	
		<li><a href="/Members/Materials/pandora/index.html" target="_blank"><i class="fa fa-circle-o"></i> Pandora's Toolbox </a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Bioinformatics algorithms</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
	
		<li><a href="/Members/Materials/algorithm/index.html" target="_blank"><i class="fa fa-circle-o"></i> Algorithms </a></li>
		<li><a href="/Members/Materials/bwt/index.html" target="_blank"><i class="fa fa-circle-o"></i> Burrows Wheeler transform </a></li>
		<li><a href="/Members/Materials/bloom/index.html" target="_blank"><i class="fa fa-circle-o"></i> Bloom filters </a></li>
          </ul>
        </li>


    </section>
    <!-- /.sidebar -->
  </aside>




      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

      <h1>
        Coding for Medicine
        <small>Enabling life scientists to code confidently</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

<%= yield %>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>

<%= render "layouts/footer" %>

