<%= render "layouts/header", :locals => {:title => 'Upload ssh key'} %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<div class="wrapper">
<%= render "layouts/head", :locals => {:title => '>> Return to panel'} %>

      <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">Upload ssh key</li>

        </li>

    </section>
    <!-- /.sidebar -->
  </aside>

      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

      <h1>
        Coding for Medicine
        <small>Enabling young life scientists to code confidently.</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

<%= yield %>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>

<%= render "layouts/footer" %>

